[package]
name = "hierarchical-wfc"
version = "0.1.0"
edition = "2021"
default-run = "main"

[dependencies]
bevy = {version = "0.11", features = ["bevy_render"]}
rand = "0.8"
anyhow = "1.0"
egui_dock = "0.6.3"
bevy-inspector-egui = "0.19.0"
bevy_reflect = "0.11.0"
egui-gizmo = "0.11.0"
bevy_simple_tilemap = "0.12.0"
bevy_mod_debugdump = "0.8.0"


[[bin]]
name = "constraint-editor"
path = "src/bin/constraint_editor.rs"
test = false
bench = false

[[bin]]
name = "egui-test"
path = "src/bin/egui_test.rs"
test = false
bench = false

[[bin]]
name = "3d"
path = "src/bin/3d.rs"
test = false
bench = false



[[bin]]
name = "main"
path = "src/main.rs"

[lib]
name = "wfc_lib"
path = "src/lib.rs"
