[package]
name = "hierarchical-wfc"
version = "0.1.0"
edition = "2021"

[dependencies]
bevy = { version = "0.11.0", features = ["dynamic_linking", "wayland"] }
bevy-inspector-egui = "0.19"
rand = "0.8"
anyhow = "1.0"
bevy_reflect = "0.11.0"
bevy_mod_debugdump = "0.8.0"
strum = "0.25.0"
strum_macros = "0.25.1"
bevy_rapier3d = "0.22.0"
futures-lite = "1.13.0"
itertools = "0.11.0"
serde_json = "1.0.105"
serde = "1.0.183"
bevy_mod_billboard = "0.4.0"

[profile.release]
debug = true

[[bin]]
name = "main"
path = "src/main.rs"

[[bin]]
name = "3d"

[[bin]]
name = "json_test"

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3

