[package]
name = "hierarchical-wfc"
version = "0.1.0"
edition = "2021"

[dependencies]
bevy = { version = "0.11.2", features = ["dynamic_linking", "wayland"] }
bevy-inspector-egui = "0.19"
rand = "0.8"
anyhow = "1.0"
bevy_reflect = "0.11.0"
bevy_mod_debugdump = "0.8.0"
strum = "0.25.0"
strum_macros = "0.25.1"
bevy_rapier3d = "0.22.0"
futures-lite = "1.13.0"
itertools = "0.11.0"
serde_json = "1.0.105"
serde = "1.0.183"
bevy_mod_billboard = "0.4.0"
bevy_atmosphere = "0.7.0"
bevy_render = "0.11.2"
egui_dock = "0.6.3"
bevy_egui = "0.21.0"
bevy_asset = "0.11.2"
egui-gizmo = "0.11.0"
egui = "0.22.0"


[[bin]]
name = "json_test"

[[bin]]
name = "multipass"

[[bin]]
name = "chunking"
[[bin]]
name = "2d"

# [[bin]]
# name = "egui"
# path= "src/ui_plugin/mod.rs"

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 16


[patch.crates-io]
bevy = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_a11y = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_animation = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_app = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_asset = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_audio = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_core = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_core_pipeline = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_derive = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_diagnostic = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_dylib = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_dynamic_plugin = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_ecs = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_ecs_compile_fail_tests = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_encase_derive = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_gilrs = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_gizmos = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_gltf = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_hierarchy = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_input = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_internal = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_log = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_macros_compile_fail_tests = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_macro_utils = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_math = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_mikktspace = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_pbr = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_ptr = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_reflect = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_reflect_compile_fail_tests = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_render = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_scene = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_sprite = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_tasks = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_text = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_time = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_transform = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_ui = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_utils = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_window = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
bevy_winit = {git = "https://github.com/KiwiRobbie/bevy-viewport-fixes.git", branch= "viewport-fixes"}
